@model AirlineManagementSystem.DTOs.FlightDto

<h2>Flight Details</h2>

<div>
    <strong>Flight Number:</strong> @Model.FlightNumber<br />
    <strong>Departure:</strong> @Model.Departure<br />
    <strong>Destination:</strong> @Model.Destination<br />
</div>



<a asp-action="Index" class="btn btn-secondary">Back to List</a>
